@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --font-sans: 'Noto Sans JP', sans-serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }

  ::-webkit-scrollbar {
    @apply hidden;
  }

  ::-webkit-scrollbar-track {
    @apply hidden;
  }

  ::-webkit-scrollbar-thumb {
    @apply hidden;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply hidden;
  }

  .qr-reader {
    height: 100dvh;
    margin: 0 auto;
    position: relative;
  }

  .qr-reader video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .qr-reader .qr-box {
    width: 100% !important;
    left: 0 !important;
  }

  .qr-reader .qr-frame {
    position: absolute;
    fill: none;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .camera-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .camera {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .centered-image {
    max-width: 100%;
    max-height: 100%;
  }
  .capture-button {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .captured-image-container {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
  }
  .captured-image-container img {
    max-width: 100px;
    border-radius: 5px;
  }

  /* Media Queries for mobile screens */
  @media (max-width: 426px) {
    .qr-reader {
      width: 100%;
    }
  }
}

@media (orientation: landscape) {
  .landscape {
    height: 730px;
  }

  .camera-landscape {
    height: 710px;
  }

  .centered-image {
    position: absolute;
    margin: 0;
    top: 10;
  }

  .camera-container {
    height: 100%;
  }

  .scanner-box {
    top: -90px;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  @apply appearance-none m-0;
}

.masked-password {
  -webkit-text-security: disc; /* For WebKit browsers */
  text-security: disc; /* For other browsers */
}

.hamb {
  margin: 0 auto;
}
